<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css.main.css">
</head>
<body>
  <header>
    <h1>Fastify Native Handlebars</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/about">About</a>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>© 2025 Fastify Native Experience</p>
  </footer>
</body>
</html>
